.navbar-brand {
    font-size: 14px;
}

#map {
    padding-top: 2%;
    width: 88%;
    height: 600px;
    background: white;
    float: right;
}

#video_puntodeinteres {
    width: 600px;
    height: 400px;
    background: black;
}

#imagen_puntodeinteres {
    width: 600px;
    height: 400px;
    background: black;
}

#myCarousel {
    width: 600px;
    height: 400px;
    margin-bottom: 40px;
    background: black;
}

header #logo {
    width: 280px;
    height: 110px;
}

body {
    margin-left: 2%;
    margin-right: 2%;
}

body footer {
    text-align: center;
    padding-top: 5%;
}